PORT=5000
CLIENT_URL=http://localhost:5173,https://your-frontend.vercel.app
SERVER_URL=https://edunova-backend-premium.onrender.com
JWT_SECRET=edunova_super_secret_key_2026_change_in_production
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin123
TELEGRAM_BOT_TOKEN=8966294879:AAEdh1Hb99Y_PebkeuN1f-fBTz8YZaXthBE
TELEGRAM_CHAT_ID=6416817320
TELEGRAM_BOT_USERNAME=edunova_uz_bot
GROQ_API_KEY=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